{
    "openapi": "3.1.0",
    "info": {
        "title": "Manus OpenAPI v2",
        "description": "API for integrating Manus into your workflow. All responses are wrapped with {\"ok\": true, \"request_id\": \"...\", ...} for success and {\"ok\": false, \"request_id\": \"...\", \"error\": {\"code\": \"...\", \"message\": \"...\"}} for errors.",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.manus.ai"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/v2/task.create": {
            "post": {
                "summary": "CreateTask",
                "description": "Creates a new task. The task runs asynchronously. Poll for progress with [task.listMessages](https://open.manus.ai/docs/v2/task.listMessages), send follow-ups with [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage). See the [Task Lifecycle](https://open.manus.ai/docs/v2/task-lifecycle) guide for the complete flow.",
                "operationId": "openapi.v2.OpenapiV2Service.CreateTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message": {
                                        "$ref": "#/components/schemas/Message",
                                        "description": "The message to start the task with. Contains the prompt text, optional file attachments, and connector/skill configuration."
                                    },
                                    "project_id": {
                                        "type": "string",
                                        "description": "Project ID to associate this task with. The project's instruction will be automatically applied. Use [project.list](https://open.manus.ai/docs/v2/project.list) to get available project IDs."
                                    },
                                    "locale": {
                                        "type": "string",
                                        "description": "Locale for the task output language (e.g., \"en\", \"zh-CN\", \"ja\"). Defaults to the user's account locale setting."
                                    },
                                    "interactive_mode": {
                                        "type": "boolean",
                                        "description": "When enabled, the agent may pause and ask follow-up questions if the input is insufficient. When disabled (default), the agent proceeds with best-effort execution without asking.",
                                        "default": false
                                    },
                                    "hide_in_task_list": {
                                        "type": "boolean",
                                        "description": "When true, the task will not appear in the Manus webapp task list. The task is still accessible via the task_url in the response. Useful for automated/background tasks.",
                                        "default": false
                                    },
                                    "share_visibility": {
                                        "type": "string",
                                        "enum": [
                                            "private",
                                            "team",
                                            "public"
                                        ],
                                        "description": "Controls who can view the task. \"private\" (default) — only the task creator can view. \"team\" — all team members can view. \"public\" — anyone with the share_url can view without authentication.",
                                        "default": "private"
                                    },
                                    "agent_profile": {
                                        "type": "string",
                                        "enum": [
                                            "manus-1.6",
                                            "manus-1.6-lite",
                                            "manus-1.6-max"
                                        ],
                                        "description": "Agent profile to use for the task. \"manus-1.6\" (default) — standard capability. \"manus-1.6-lite\" — lightweight, faster responses. \"manus-1.6-max\" — maximum capability.",
                                        "default": "manus-1.6"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "Custom title for the task. If not provided, a title will be auto-generated based on the input message."
                                    }
                                },
                                "required": [
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request, useful for debugging."
                                        },
                                        "task_id": {
                                            "type": "string",
                                            "description": "Unique identifier for the created task. Use this to track, update, or delete the task."
                                        },
                                        "task_title": {
                                            "type": "string",
                                            "description": "Title for the task. Returns the custom title if one was provided in the request, otherwise an auto-generated title based on the input message."
                                        },
                                        "task_url": {
                                            "type": "string",
                                            "description": "URL to view the task in the Manus webapp (e.g., https://manus.im/app/{task_id})."
                                        },
                                        "share_url": {
                                            "type": "string",
                                            "description": "Publicly accessible URL for sharing. Only present when share_visibility is not \"private\"."
                                        },
                                        "share_visibility": {
                                            "type": "string",
                                            "enum": [
                                                "private",
                                                "team",
                                                "public"
                                            ],
                                            "description": "The actual visibility state of the task."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.detail": {
            "get": {
                "summary": "GetTask",
                "description": "Retrieves a task's status and metadata. Use [task.listMessages](https://open.manus.ai/docs/v2/task.listMessages) for the full event history, or [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage) to continue the conversation.",
                "operationId": "openapi.v2.OpenapiV2Service.GetTask",
                "x-codeSamples": [
                    {
                        "lang": "bash",
                        "label": "cURL",
                        "source": "curl --request GET \\\n  --url 'https://api.manus.ai/v2/task.detail?task_id=<string>' \\\n  --header 'x-manus-api-key: <api-key>'"
                    },
                    {
                        "lang": "python",
                        "label": "Python",
                        "source": "import requests\n\nurl = \"https://api.manus.ai/v2/task.detail\"\n\nheaders = {\n    \"x-manus-api-key\": \"<api-key>\"\n}\n\nresponse = requests.get(url, headers=headers, params={\"task_id\": \"<string>\"})\n\nprint(response.text)"
                    },
                    {
                        "lang": "javascript",
                        "label": "JavaScript",
                        "source": "const options = {\n  method: 'GET',\n  headers: {'x-manus-api-key': '<api-key>'}\n};\n\nfetch('https://api.manus.ai/v2/task.detail?task_id=<string>', options)\n  .then(res => res.json())\n  .then(res => console.log(res))\n  .catch(err => console.error(err));"
                    },
                    {
                        "lang": "php",
                        "label": "PHP",
                        "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.manus.ai/v2/task.detail?task_id=<string>\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"x-manus-api-key: <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "lang": "go",
                        "label": "Go",
                        "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.manus.ai/v2/task.detail?task_id=<string>\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-manus-api-key\", \"<api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "lang": "java",
                        "label": "Java",
                        "source": "HttpResponse<String> response = Unirest.get(\"https://api.manus.ai/v2/task.detail?task_id=<string>\")\n  .header(\"x-manus-api-key\", \"<api-key>\")\n  .asString();"
                    },
                    {
                        "lang": "ruby",
                        "label": "Ruby",
                        "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.manus.ai/v2/task.detail?task_id=<string>\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-manus-api-key\"] = '<api-key>'\n\nresponse = http.request(request)\nputs response.read_body"
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the task to retrieve. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "task": {
                                            "$ref": "#/components/schemas/Task",
                                            "description": "The task object with current status and metadata."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.list": {
            "get": {
                "summary": "ListTasks",
                "description": "Lists tasks with optional filtering and cursor-based pagination. Use `scope` to filter by task type, e.g. `agent_subtask` with `agent_id` for agent subtasks. See [task.detail](https://open.manus.ai/docs/v2/task.detail) for full details on a specific task.",
                "operationId": "openapi.v2.OpenapiV2Service.ListTasks",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Number of tasks to return per page. Default: 20, Max: 100."
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Pagination cursor from the previous response's next_cursor field. Omit for the first page."
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "description": "Sort direction by creation time. \"desc\" (default) returns newest first, \"asc\" returns oldest first."
                        }
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "agent_subtask",
                                "project",
                                "standard"
                            ],
                            "description": "Filter by task type. \"all\" (default) returns all tasks. \"standard\" returns regular tasks. \"project\" returns tasks within a project (requires project_id). \"agent_subtask\" returns subtasks created by an agent (requires agent_id)."
                        }
                    },
                    {
                        "name": "agent_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Filter tasks by agent. Required when scope=\"agent_subtask\". Supports the shortcut `agent-default` for the IM agent. Use [agent.list](https://open.manus.ai/docs/v2/agent.list) to get available agent IDs."
                        }
                    },
                    {
                        "name": "project_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Filter tasks by project. Required when scope=\"project\". Use [project.list](https://open.manus.ai/docs/v2/project.list) to get available project IDs."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tasks retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Task"
                                            },
                                            "description": "Array of task objects matching the filter criteria."
                                        },
                                        "has_more": {
                                            "type": "boolean",
                                            "description": "Whether there are more tasks beyond this page. If true, use next_cursor to fetch the next page."
                                        },
                                        "next_cursor": {
                                            "type": "string",
                                            "description": "Cursor to pass as the cursor parameter for the next page. Only present when has_more is true."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.stop": {
            "post": {
                "summary": "StopTask",
                "description": "Stops a running task. The task status will change to `stopped`. A stopped task can still be resumed with [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage).",
                "operationId": "openapi.v2.OpenapiV2Service.StopTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the running task to stop. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                                    }
                                },
                                "required": [
                                    "task_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task stopped successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.delete": {
            "post": {
                "summary": "DeleteTask",
                "description": "Deletes a task permanently. If the task is still running, use [task.stop](https://open.manus.ai/docs/v2/task.stop) first.",
                "operationId": "openapi.v2.OpenapiV2Service.DeleteTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the task to delete. Agent-related tasks cannot be deleted."
                                    }
                                },
                                "required": [
                                    "task_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "The ID of the deleted task."
                                        },
                                        "deleted": {
                                            "type": "boolean",
                                            "description": "Always true when the deletion was successful."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.update": {
            "post": {
                "summary": "UpdateTask",
                "description": "Updates a task's metadata (title, sharing, visibility). Use [task.detail](https://open.manus.ai/docs/v2/task.detail) to see the current values before updating.",
                "operationId": "openapi.v2.OpenapiV2Service.UpdateTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the task to update. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "New title for the task. Replaces the auto-generated title."
                                    },
                                    "share_visibility": {
                                        "type": "string",
                                        "enum": [
                                            "private",
                                            "team",
                                            "public"
                                        ],
                                        "description": "Controls who can view the task. \"private\" — only the task creator can view. \"team\" — all team members can view. \"public\" — anyone with the share_url can view."
                                    },
                                    "enable_visible_in_task_list": {
                                        "type": "boolean",
                                        "description": "When true, the task appears in the Manus webapp task list. When false, hides the task from the list (still accessible via direct URL)."
                                    }
                                },
                                "required": [
                                    "task_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "task_id": {
                                            "type": "string",
                                            "description": "The ID of the updated task."
                                        },
                                        "task_title": {
                                            "type": "string",
                                            "description": "The current title of the task."
                                        },
                                        "task_url": {
                                            "type": "string",
                                            "description": "URL to view the task in the Manus webapp."
                                        },
                                        "share_url": {
                                            "type": "string",
                                            "description": "Public share URL. Only present when share_visibility is not \"private\"."
                                        },
                                        "share_visibility": {
                                            "type": "string",
                                            "enum": [
                                                "private",
                                                "team",
                                                "public"
                                            ],
                                            "description": "The actual visibility state of the task."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.sendMessage": {
            "post": {
                "summary": "SendMessage",
                "description": "Sends a follow-up message to a task for multi-turn conversation. Use this after [task.create](https://open.manus.ai/docs/v2/task.create) to continue talking, or to reply when `waiting_for_event_type` is `messageAskUser`. For other waiting types, use [task.confirmAction](https://open.manus.ai/docs/v2/task.confirmAction) instead.",
                "operationId": "openapi.v2.OpenapiV2Service.SendMessage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the task to send the message to. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                                    },
                                    "message": {
                                        "$ref": "#/components/schemas/Message",
                                        "description": "The follow-up message. Supports the same content formats as task.create (plain text or multi-part with files)."
                                    }
                                },
                                "required": [
                                    "task_id",
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Message sent successfully. The task will resume processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "task_id": {
                                            "type": "string",
                                            "description": "The ID of the task the message was sent to."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.listMessages": {
            "get": {
                "summary": "ListMessages",
                "description": "Lists event messages for a task with cursor-based pagination. Use this to poll for progress after [task.create](https://open.manus.ai/docs/v2/task.create) or [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage). See the [Task Lifecycle](https://open.manus.ai/docs/v2/task-lifecycle) guide for how to handle each status.",
                "operationId": "openapi.v2.OpenapiV2Service.ListMessages",
                "x-codeSamples": [
                    {
                        "lang": "bash",
                        "label": "cURL",
                        "source": "curl --request GET \\\n  --url 'https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10' \\\n  --header 'x-manus-api-key: <api-key>'"
                    },
                    {
                        "lang": "python",
                        "label": "Python",
                        "source": "import requests\n\nurl = \"https://api.manus.ai/v2/task.listMessages\"\n\nheaders = {\n    \"x-manus-api-key\": \"<api-key>\"\n}\n\nresponse = requests.get(url, headers=headers, params={\n    \"task_id\": \"<string>\",\n    \"order\": \"desc\",\n    \"limit\": \"10\"\n})\n\nprint(response.text)"
                    },
                    {
                        "lang": "javascript",
                        "label": "JavaScript",
                        "source": "const options = {\n  method: 'GET',\n  headers: {'x-manus-api-key': '<api-key>'}\n};\n\nfetch('https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10', options)\n  .then(res => res.json())\n  .then(res => console.log(res))\n  .catch(err => console.error(err));"
                    },
                    {
                        "lang": "php",
                        "label": "PHP",
                        "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"x-manus-api-key: <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "lang": "go",
                        "label": "Go",
                        "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-manus-api-key\", \"<api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "lang": "java",
                        "label": "Java",
                        "source": "HttpResponse<String> response = Unirest.get(\"https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10\")\n  .header(\"x-manus-api-key\", \"<api-key>\")\n  .asString();"
                    },
                    {
                        "lang": "ruby",
                        "label": "Ruby",
                        "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.manus.ai/v2/task.listMessages?task_id=<string>&order=desc&limit=10\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-manus-api-key\"] = '<api-key>'\n\nresponse = http.request(request)\nputs response.read_body"
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the task to list messages for. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Number of messages to return per page. Default: 50, Range: 1-200."
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Pagination cursor from the previous response's next_cursor field. Omit for the first page."
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "description": "Sort direction by timestamp. \"desc\" (default) returns newest first, \"asc\" returns oldest first (chronological order)."
                        }
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "When true, includes detailed events: tool_used (tools the agent invoked), plan_update (full plan snapshots), new_plan_step (individual step additions), and explanation (agent reasoning). Default: false — only returns user_message, assistant_message, error_message, status_update, and user_stop."
                        }
                    },
                    {
                        "name": "slides_format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "html",
                                "pptx"
                            ],
                            "description": "Format for slides attachments in the response. \"html\" (default) returns raw HTML slides. \"pptx\" auto-converts HTML slides to PowerPoint format."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Messages retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "task_id": {
                                            "type": "string",
                                            "description": "The task ID these messages belong to."
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TaskEvent"
                                            },
                                            "description": "Array of task event objects representing the conversation and agent activity."
                                        },
                                        "has_more": {
                                            "type": "boolean",
                                            "description": "Whether there are more messages beyond this page."
                                        },
                                        "next_cursor": {
                                            "type": "string",
                                            "description": "Cursor for fetching the next page. Only present when has_more is true."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/task.confirmAction": {
            "post": {
                "summary": "ConfirmAction",
                "description": "Confirms a pending action to resume the task. Use when [task.listMessages](https://open.manus.ai/docs/v2/task.listMessages) shows `agent_status: \"waiting\"`. For `messageAskUser` events, use [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage) instead. See the [Task Lifecycle](https://open.manus.ai/docs/v2/task-lifecycle#using-taskconfirmaction) guide for input formats.",
                "operationId": "openapi.v2.OpenapiV2Service.ConfirmAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the task with a pending action. Supports the shortcut `agent-default-main_task` for the IM agent's main task."
                                    },
                                    "event_id": {
                                        "type": "string",
                                        "description": "The waiting_for_event_id value from the status_update event that triggered the confirmation request. This identifies which specific action to confirm."
                                    },
                                    "input": {
                                        "type": "object",
                                        "description": "Optional input data for the pending action. The expected schema is defined by the confirm_input_schema field in the status_update event. For simple confirmations, this can be omitted."
                                    }
                                },
                                "required": [
                                    "task_id",
                                    "event_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Action confirmed successfully. The task will resume processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "task_id": {
                                            "type": "string",
                                            "description": "The ID of the task that was confirmed."
                                        },
                                        "confirmed": {
                                            "type": "boolean",
                                            "description": "Always true when the confirmation was accepted."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/project.create": {
            "post": {
                "summary": "CreateProject",
                "description": "Creates a new project. Projects let you group related tasks and apply shared instructions. Pass the returned ID as `project_id` in [task.create](https://open.manus.ai/docs/v2/task.create) to create tasks within this project.",
                "operationId": "openapi.v2.OpenapiV2Service.CreateProject",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Display name for the project."
                                    },
                                    "instruction": {
                                        "type": "string",
                                        "description": "Default instruction that will be automatically prepended to all tasks created within this project. Use this to enforce consistent behavior across related tasks (e.g., \"Always respond in formal English\" or \"Focus on financial analysis\")."
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Project created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "project": {
                                            "$ref": "#/components/schemas/Project",
                                            "description": "The created project object."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/project.list": {
            "get": {
                "summary": "ListProjects",
                "description": "Lists all projects. Use the returned IDs as `project_id` in [task.create](https://open.manus.ai/docs/v2/task.create) or [task.list](https://open.manus.ai/docs/v2/task.list).",
                "operationId": "openapi.v2.OpenapiV2Service.ListProjects",
                "responses": {
                    "200": {
                        "description": "Projects retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Project"
                                            },
                                            "description": "Array of project objects."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/skill.list": {
            "get": {
                "summary": "ListSkills",
                "description": "Lists available skills. Includes project skills when project_id is provided. Use the returned IDs in `enable_skills` or `force_skills` of [task.create](https://open.manus.ai/docs/v2/task.create).",
                "operationId": "openapi.v2.OpenapiV2Service.ListSkills",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "When provided, includes project-specific skills in addition to the user's global skills. Use [project.list](https://open.manus.ai/docs/v2/project.list) to get available project IDs."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Skills retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Skill"
                                            },
                                            "description": "Array of skill objects. Use the id field when passing to enable_skills or force_skills in task.create."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/agent.list": {
            "get": {
                "summary": "ListAgents",
                "description": "Lists all custom agents in your account. Use the returned IDs in [task.list](https://open.manus.ai/docs/v2/task.list) with `scope=agent_subtask` to view subtasks, or in [agent.detail](https://open.manus.ai/docs/v2/agent.detail) for full details. See the [Agents](https://open.manus.ai/docs/v2/agents-overview) guide.",
                "operationId": "openapi.v2.OpenapiV2Service.ListAgents",
                "responses": {
                    "200": {
                        "description": "Agents retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Agent"
                                            },
                                            "description": "Array of agent objects."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/agent.detail": {
            "get": {
                "summary": "GetAgent",
                "description": "Retrieves an agent's details including its nickname, description, and associated task. Use [agent.update](https://open.manus.ai/docs/v2/agent.update) to modify, or [task.list](https://open.manus.ai/docs/v2/task.list) with `scope=agent_subtask` to view this agent's subtasks.",
                "operationId": "openapi.v2.OpenapiV2Service.GetAgent",
                "x-codeSamples": [
                    {
                        "lang": "bash",
                        "label": "cURL",
                        "source": "curl --request GET \\\n  --url 'https://api.manus.ai/v2/agent.detail?agent_id=<string>' \\\n  --header 'x-manus-api-key: <api-key>'"
                    },
                    {
                        "lang": "python",
                        "label": "Python",
                        "source": "import requests\n\nurl = \"https://api.manus.ai/v2/agent.detail\"\n\nheaders = {\n    \"x-manus-api-key\": \"<api-key>\"\n}\n\nresponse = requests.get(url, headers=headers, params={\"agent_id\": \"<string>\"})\n\nprint(response.text)"
                    },
                    {
                        "lang": "javascript",
                        "label": "JavaScript",
                        "source": "const options = {\n  method: 'GET',\n  headers: {'x-manus-api-key': '<api-key>'}\n};\n\nfetch('https://api.manus.ai/v2/agent.detail?agent_id=<string>', options)\n  .then(res => res.json())\n  .then(res => console.log(res))\n  .catch(err => console.error(err));"
                    },
                    {
                        "lang": "php",
                        "label": "PHP",
                        "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.manus.ai/v2/agent.detail?agent_id=<string>\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"x-manus-api-key: <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "lang": "go",
                        "label": "Go",
                        "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.manus.ai/v2/agent.detail?agent_id=<string>\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-manus-api-key\", \"<api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "lang": "java",
                        "label": "Java",
                        "source": "HttpResponse<String> response = Unirest.get(\"https://api.manus.ai/v2/agent.detail?agent_id=<string>\")\n  .header(\"x-manus-api-key\", \"<api-key>\")\n  .asString();"
                    },
                    {
                        "lang": "ruby",
                        "label": "Ruby",
                        "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.manus.ai/v2/agent.detail?agent_id=<string>\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-manus-api-key\"] = '<api-key>'\n\nresponse = http.request(request)\nputs response.read_body"
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the agent to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "agent": {
                                            "$ref": "#/components/schemas/Agent",
                                            "description": "The agent object with full details."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/agent.update": {
            "post": {
                "summary": "UpdateAgent",
                "description": "Updates an agent's nickname and description. Use [agent.detail](https://open.manus.ai/docs/v2/agent.detail) to view current values before updating.",
                "operationId": "openapi.v2.OpenapiV2Service.UpdateAgent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "agent_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the agent to update."
                                    },
                                    "nickname": {
                                        "type": "string",
                                        "description": "New display name for the agent."
                                    },
                                    "about": {
                                        "type": "string",
                                        "description": "New description or bio for the agent."
                                    }
                                },
                                "required": [
                                    "agent_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "agent": {
                                            "$ref": "#/components/schemas/Agent",
                                            "description": "The updated agent object."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/file.upload": {
            "post": {
                "summary": "UploadFile",
                "description": "Creates a file record and returns a presigned upload URL. Upload the file content to the returned `upload_url` via PUT before it expires. Then use the `file.id` as `file_id` in [task.create](https://open.manus.ai/docs/v2/task.create) or [task.sendMessage](https://open.manus.ai/docs/v2/task.sendMessage) message content.",
                "operationId": "openapi.v2.OpenapiV2Service.UploadFile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filename": {
                                        "type": "string",
                                        "description": "Name of the file to upload, including extension (e.g., \"report.pdf\", \"data.csv\"). The extension helps determine the file type."
                                    }
                                },
                                "required": [
                                    "filename"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "File record created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "file": {
                                            "$ref": "#/components/schemas/File",
                                            "description": "The created file record. Status will be pending until the upload completes."
                                        },
                                        "upload_url": {
                                            "type": "string",
                                            "description": "Presigned S3 URL for uploading the file content. Send a PUT request with the file bytes as the body. Expires in 3 minutes."
                                        },
                                        "upload_expires_at": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Unix timestamp (seconds) when the upload_url expires. Complete the upload before this time."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/file.detail": {
            "get": {
                "summary": "GetFile",
                "description": "Retrieves a file's details including upload status, size, and expiration time. Check that `status` is `uploaded` before using the file in [task.create](https://open.manus.ai/docs/v2/task.create). Files expire 48 hours after upload.",
                "operationId": "openapi.v2.OpenapiV2Service.GetFile",
                "x-codeSamples": [
                    {
                        "lang": "bash",
                        "label": "cURL",
                        "source": "curl --request GET \\\n  --url 'https://api.manus.ai/v2/file.detail?file_id=<string>' \\\n  --header 'x-manus-api-key: <api-key>'"
                    },
                    {
                        "lang": "python",
                        "label": "Python",
                        "source": "import requests\n\nurl = \"https://api.manus.ai/v2/file.detail\"\n\nheaders = {\n    \"x-manus-api-key\": \"<api-key>\"\n}\n\nresponse = requests.get(url, headers=headers, params={\"file_id\": \"<string>\"})\n\nprint(response.text)"
                    },
                    {
                        "lang": "javascript",
                        "label": "JavaScript",
                        "source": "const options = {\n  method: 'GET',\n  headers: {'x-manus-api-key': '<api-key>'}\n};\n\nfetch('https://api.manus.ai/v2/file.detail?file_id=<string>', options)\n  .then(res => res.json())\n  .then(res => console.log(res))\n  .catch(err => console.error(err));"
                    },
                    {
                        "lang": "php",
                        "label": "PHP",
                        "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.manus.ai/v2/file.detail?file_id=<string>\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"x-manus-api-key: <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "lang": "go",
                        "label": "Go",
                        "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.manus.ai/v2/file.detail?file_id=<string>\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-manus-api-key\", \"<api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "lang": "java",
                        "label": "Java",
                        "source": "HttpResponse<String> response = Unirest.get(\"https://api.manus.ai/v2/file.detail?file_id=<string>\")\n  .header(\"x-manus-api-key\", \"<api-key>\")\n  .asString();"
                    },
                    {
                        "lang": "ruby",
                        "label": "Ruby",
                        "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.manus.ai/v2/file.detail?file_id=<string>\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-manus-api-key\"] = '<api-key>'\n\nresponse = http.request(request)\nputs response.read_body"
                    }
                ],
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the file to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "file": {
                                            "$ref": "#/components/schemas/FileDetail",
                                            "description": "The file object with full details."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/file.delete": {
            "post": {
                "summary": "DeleteFile",
                "description": "Deletes a file. Files are automatically deleted 48 hours after upload, so manual deletion is only needed for early cleanup.",
                "operationId": "openapi.v2.OpenapiV2Service.DeleteFile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the file to delete."
                                    }
                                },
                                "required": [
                                    "file_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "File deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/webhook.create": {
            "post": {
                "summary": "CreateWebhook",
                "description": "Creates a webhook for receiving task event notifications. Use [webhook.publicKey](https://open.manus.ai/docs/v2/webhook.publicKey) to get the key for verifying signatures. See the [Webhooks](https://open.manus.ai/docs/v2/webhooks-overview) guide for event types.",
                "operationId": "openapi.v2.OpenapiV2Service.CreateWebhook",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "description": "The HTTPS endpoint URL that will receive POST webhook notifications. Must be publicly accessible and return a 2xx status code."
                                    }
                                },
                                "required": [
                                    "url"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "webhook": {
                                            "$ref": "#/components/schemas/Webhook",
                                            "description": "The created webhook object."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/webhook.list": {
            "get": {
                "summary": "ListWebhooks",
                "description": "Lists all webhooks in your account. Use the returned IDs with [webhook.delete](https://open.manus.ai/docs/v2/webhook.delete) to remove a webhook.",
                "operationId": "openapi.v2.OpenapiV2Service.ListWebhooks",
                "responses": {
                    "200": {
                        "description": "Webhooks retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Webhook"
                                            },
                                            "description": "Array of webhook objects."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/webhook.delete": {
            "post": {
                "summary": "DeleteWebhook",
                "description": "Deletes a webhook. The endpoint will stop receiving notifications immediately. Use [webhook.list](https://open.manus.ai/docs/v2/webhook.list) to find the webhook ID.",
                "operationId": "openapi.v2.OpenapiV2Service.DeleteWebhook",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "webhook_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the webhook to delete."
                                    }
                                },
                                "required": [
                                    "webhook_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/browser.onlineList": {
            "get": {
                "summary": "ListOnlineBrowserClients",
                "description": "Lists the user's online browser clients. Use the returned `client_id` with [task.confirmAction](https://open.manus.ai/docs/v2/task.confirmAction) when the agent triggers a `needConnectMyBrowser` waiting event. See the [Task Lifecycle](https://open.manus.ai/docs/v2/task-lifecycle#using-my-browser) guide.",
                "operationId": "openapi.v2.OpenapiV2Service.ListOnlineBrowserClients",
                "responses": {
                    "200": {
                        "description": "Online browser clients retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BrowserClient"
                                            },
                                            "description": "Array of online browser client objects."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/webhook.publicKey": {
            "get": {
                "summary": "GetWebhookPublicKey",
                "description": "Gets the public key for verifying webhook signatures. See the [Webhook Security](https://open.manus.ai/docs/v2/webhooks-security) guide for verification examples.",
                "operationId": "openapi.v2.OpenapiV2Service.GetWebhookPublicKey",
                "responses": {
                    "200": {
                        "description": "Public key retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "public_key": {
                                            "type": "string",
                                            "description": "PEM-encoded RSA public key for verifying webhook signatures."
                                        },
                                        "algorithm": {
                                            "type": "string",
                                            "description": "Signature algorithm. Always \"RSA-SHA256\".",
                                            "example": "RSA-SHA256"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/usage.list": {
            "get": {
                "summary": "ListUsage",
                "description": "Lists the current user's credit consumption history. Each record corresponds to a task and shows the total credits consumed. Results are sorted by task creation time in descending order (newest first).",
                "operationId": "openapi.v2.OpenapiV2Service.ListUsage",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Number of records to return per page. Default: 20, Max: 100."
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Pagination cursor from the previous response's next_cursor field. Omit for the first page."
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Filter start time as a Unix timestamp in seconds. Only returns records for tasks created at or after this time."
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Filter end time as a Unix timestamp in seconds. Only returns records for tasks created at or before this time."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usage records retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether the request was successful."
                                        },
                                        "request_id": {
                                            "type": "string",
                                            "description": "Unique identifier for this API request."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
[...]
